table {
  width: 40%;
}
td {
  min-width: 200px;
  width: 33.33%;
  position: relative;
}
td:after {
  content: '';
  display: block;
  margin-top: 100%;
}
td .content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;

  font-size: 150px;
  text-align: center;
  color: white;
  line-height: 200px;
}

